.list-cell {
    -fx-padding: 1.2;
    -fx-cell-size: 30;
}

.label-description {
    -fx-font-size: 11;
    -fx-text-fill: gray;
}

.dialog-pane > .content {
    -fx-padding: 16 16 16 16;
    -fx-background-color: rgb(255.0, 255.0, 255.0);
}
