.wrapper_highlight {
    -fx-background-color: #C0C0C0;
}

.wrapper_hover {
    -fx-background-color: dimgray;
}

.selected {
    -fx-stroke: #7c7c7c;
    -fx-stroke-width: 3;
    -fx-fill: #c0c0c0;
}