HBox.cell {
    -fx-border-style: solid;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
    -fx-padding: 0 0 0 10;
}

HBox.cell:hover {
    -fx-background-color: CCE6FE;
}
