#main_rectangle {
    -fx-arc-height: 7;
    -fx-arc-width: 7;
}

.fill_transparent {
    -fx-fill: transparent;
}

.input_hover {
    -fx-fill: gray;
}

.green_hover {
    -fx-fill: green;
}

.red_hover {
    -fx-fill: red;
}